$bright-orange: rgb(195, 97, 11);
$light-orange: rgb(252, 196, 147);
$disabled-button: rgba(195, 97, 11, 0.5);
$light-text: #eee;
$male-color: rgb(12, 54, 118);
$female-color: rgb(103, 9, 103);
$header-color: #05771c;
$light-blue: rgb(169, 217, 233);
$lake-blue: rgb(42, 179, 225);
$frog-green: #05771c;
$bright-green: #14b634;
$bright-yellow: #d0c90b;